@charset "UTF-8";
/*列表區*/
/*無分欄*/
.cardFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/*卡片*/
.card {
  width: 100%;
  border-radius: 13px;
  background: #FFF;
  margin: 0 0 30px 0; }
  .card .card-btArea {
    width: 40px;
    height: 40px;
    position: relative;
    float: right;
    right: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 1;
    display: block; }
    .card .card-btArea .card-btArea--bt {
      position: absolute;
      left: 5px;
      top: 5px; }
