/*按鈕部件*/


/*按鈕設置*/
/*第一款 基本大按鈕*/
// @mixin btn-emBt($width,$height,$bt_color,$text_color)
// 	display: block
// 	width: $width
// 	height: $height
// 	background: $bt_color
// 	border-radius: 3px
// 	box-shadow: 0px 2px 5px $shadow_color
// 	@include text_style
// 	color: $text_color
// 	text-align: center
// 	line-height: $height
// 	&:hover
// 		box-shadow: 0px 10px 20px $shadow_color
// 		transform: translateX(-10px)

@mixin btnBasicBt
	width: 100%
	height: 50px
	line-height: 50px
	color: #ffffff
	font:
		size: $text-18
		weight: 700
	letter-spacing: 3px
	text-align: center
	display: block
	position: relative
	img
		position: absolute
		right: 15px
		top: 18px
		transition: all 0.5s ease-in-out
	&:hover
		color: #FFF
		img
			right: -20px
	@include computer
		img
			right: -20px
		&:hover
			img
				right: -40px
	@include maxcom-1920
		img
			right: -35px
		&:hover
			img
				right: -50px

.btnRedBt
	@include btnBasicBt
	background: $color-danger 
	position: relative
	&:hover
		color: #FFF
		background: $black 


.btnWhiteBt
	@include btnBasicBt
	border: $gray-line
	position: relative
	color: $black
	&:hover
		color: #FFF
		background: $color-danger 

.btnBlackBt
	@include btnBasicBt
	position: relative
	color: #FFF
	background: $black
	

.delBt
	min-width: 50px
	height: 50px
	background: $color-danger 
	padding: 14px 0 0 14px
	vertical-align: middle
	display: inline-block
	img
