/*元素*/
//特色區
.eleFeature-featureText
    line-height: 38px
    margin-bottom: 12px
    @include ipad
        line-height: 50px
        margin-bottom: 12px
.eleFeature
    // width: 46px
    // height: 46px
    // border-radius: 28px
    width: 38px
    height: 38px
    border-radius: 19px
    line-height: 35px
    font-size: $text-20
    display: inline-block
    margin-right: 15px
    float: left
    text-align: center
    letter-spacing: 0px
    @include ipad
        width: 46px
        height: 46px
        border-radius: 28px
        font-size: $text-28
        line-height: 42px   
        margin-right: 20px
.eleFeature--blackBg
    background: $black
    color: #FFF
.eleFeature--redBg
    background: $color-danger
    color: #FFF
.eleFeature--whiteBg
    background: #FFF
    color: $black
.eleFeature--dot
    width: 8px
    height: auto
    margin-right: 7px
    text-align: left
    @include ipad
        margin-right: 10px
        width: 15px


//頁面標題
//頁面標題-紅色方框大標
// .elepageTit
//     padding: 20px 8px 12px 6px
//     background: $color-danger 
//     -webkit-writing-mode: vertical-rl 
//     writing-mode: vertical-rl 
//     color: #FFF
//     letter-spacing: 7px
//     border: $gray-line-inBlack
//     animation: elepageTitAni 1s 0s 1 forwards ease-in-out
//     opacity: 0
//     @include iphone
//         font-size: $text-36
//         padding: 23px 8px 15px 6px
//     @include computer
//         font:
//             size: $text-110
//             weight: 900
//         letter-spacing: 15px
//         padding: 40px 10px 25px 8px
        
.elepageTit
    padding: 20px 0 
    -webkit-writing-mode: vertical-rl 
    writing-mode: vertical-rl 
    color: #FFF
    letter-spacing: 7px
    animation: elepageTitAni 1s 0s 1 forwards ease-in-out
    opacity: 0
    @include iphone
        font-size: $text-36
    @include computer
        font:
            size: $text-110
            weight: 900
    .elepageTit--word
        border-radius: 50%
        background: $color-danger
        padding: 10px 6px 5px 5px
        margin-top: -22px
        @include computer
            margin-top: -15px
            padding: 28px 15px 22px 12px



@keyframes elepageTitAni
    0%
        opacity: 0
        margin-top: -80px
        filter: blur(15px) 
    60%
        opacity: 1
        filter: blur(0px) 
    100%
        margin-top: 0px
        opacity: 1

.elepageSubTitArea
    @include maxcom
        // width: 52px

//頁面標題-圓形副標
.elepageSubTit
    -webkit-writing-mode: vertical-rl 
    writing-mode: vertical-rl 
    margin: 0px 0 0 30px
    animation: elepageSubTitAni 0.7s 1s 1 forwards ease-in-out
    opacity: 0
    float: left
    @include computer
        margin: 135px 0 0 35px !important
        float: none
    .elepageSubTit--word
        display: inline-block
        width: 36px
        height: 36px
        line-height: 36px
        border-radius: 50%
        background: #FFF
        padding: 8px 0 0 0
        margin: 0 auto
        color: $black
        border: $gray-line
        font: 
            size: $text-20
        @include iphone
            font-size: $text-24
            width: 42px
            height: 42px
            line-height: 42px
            padding: 10px 0 0 0
        @include ipad
            font-size: $text-32
            width: 52px
            height: 52px
            line-height: 52px
            padding: 12px 0 0 0
            margin: 7px 0 0 0

@keyframes elepageSubTitAni
    0%
        opacity: 0
        filter: blur(15px) 
    100%
        filter: blur(0px) 
        opacity: 1

//頁面標題-規格副標
.elepageSpecTit
    -webkit-writing-mode: vertical-lr
    writing-mode: vertical-lr
    width: 36px
    height: auto
    border-radius: 18px
    padding: 20px 0
    margin: 0 0 0 20px
    line-height: 36px
    background: $black
    text-align: center
    letter-spacing: 8px
    color: #FFF
    float: left
    animation: elepageSubTitAni 0.7s 1.2s 1 forwards ease-in-out
    opacity: 0
    @include ipad
        margin: 10px 0 0 20px
    @include computer
        width: 40px
        border-radius: 20px
        line-height: 40px
        margin: 40px 0 0 40px
        padding: 35px 0


//購物車頁面步驟標題
.elecartStepTitArea
    border: $gray-line
    border-bottom: none
    margin: 10px 0 0 30px 
    animation: elepageAniArea01 1s 1s 1 forwards ease-in-out
    opacity: 0
    @include computer
        margin: 100px 0 0 40px 
.elecartStepTit
    width: 50px
    padding: 25px 0 20px 0
    border-bottom: $gray-line 
    -webkit-writing-mode: vertical-rl 
    writing-mode: vertical-rl 
    letter-spacing: 5px
    line-height: 50px
    @include ie11
        height: 180px
        text-align: center
    // color: $text-gray


.elecartStepTit--inpage
    background: $black
    color: #FFF

.elecartStepTit--phoneHide
    display: none
    @include computer
        display: block

//內頁裝飾元素動畫
.elepageAniArea01
    display: none
    @include maxcom-1920
        display: block
        position: absolute
        // z-index: -1
        animation: elepageAniArea01 1s 1s 1 forwards ease-in
        width: 385px
        height: auto
        left: -30px
        opacity: 0

@keyframes elepageAniArea01
    0%
        opacity: 0
    100%
        opacity: 1

.elepageAniArea02
    display: none
    @include maxcom-1920
        display: block
        position: absolute
        animation: elepageAniArea01 1s 1s 1 forwards ease-in
        width: 650px
        height: auto
        right: -30px
        top: 320px
        opacity: 0


        
    
//規格樣式
.elespecArea
    margin: 40px auto 40px auto

//訂單資料列表
.eleorderLi,.eleorderLi--emphasis
    padding: 12px 0 10px 0
    border-bottom: $gray-line
    overflow: hidden
    .eleorderLi-tit
        width: 100%
        display: inline-block
        text-align: left
        float: left
        // width: 45%
        // @include typoNowrap
        @include computer
            width: 40%
    .eleorderLi-content
        width: 100%
        display: inline-block
        float: left
        // @include typoNowrap
        font:
            size: $text-20
        @include computer
            text-align: right
            width: 60%
            padding-left: 15px
.eleorderLi--emphasis
    border-bottom: 5px solid $color-danger
    .eleorderLi-tit
        color: $black

.eleorderLi--field
    .eleorderLi-tit
        line-height: 50px

//頁面頁籤按鈕
.eleTabArea
    width: 100%
    border-top: $gray-line
    border-bottom: $gray-line
    // overflow: hidden
    display: flex
    flex-wrap: nowrap
    overflow-x: auto
.eleTab,.eleTab--in
    @include btnBasicBt
    width: 50%
    border-right: $gray-line
    float: left
    color: $text-gray
    overflow: hidden
    position: relative
    z-index: 2
    line-height: 54px
    height: 54px
    &:last-of-type
        border-right: none
    img
        opacity: 0
        left: -40px
    &:hover
        color: $black
        img
            opacity: 1
            left: 80%
    @include ipad
        img
            opacity: 0
            left: 70px
        &:hover
            color: $black
            img
                opacity: 1
                left: 65%
    @include maxcom
        &:last-of-type
            border-right: $gray-line
    @include maxcom-1920
        img
            opacity: 0
            left: 150px
        &:hover
            color: $black
            img
                opacity: 1
                left: 60%
       
.eleTab--in
    color: $black
    img
        opacity: 1


//跳轉頁面區
.elePage
    width: auto
    margin: 0 auto
    float: right
    .elePage-arrowBt
        width: 70px
        height: auto
        display: inline-block
    .elePage-arrowBt--back
        &:hover
            transform: translateX(-10px)
        img
            // margin: 7px 0 0 7px
            padding: 10px 
    .elePage-arrowBt--next
        &:hover
            transform: translateX(10px)
        img
            // margin: 7px 0 0 7px
            padding: 10px 
    .elePage-conut
        vertical-align: 2px
        text-align: center
        font:
            size: $text-18
            weight: 500
        color: $black
        margin: 0 20px