//首頁樣式及框架

/*框架*/
.indPrimary
	@include ipad
		display: flex
		flex-wrap: nowrap
		align-content: stretch

/*首頁主要內容區*/
.indContent
.indloadingHideArea
	width: 100%
	height: 100%
	position: fixed
	top: 0px
	left: 0px
	z-index: 9998
	background: #FFF
	transition: all 0.5s ease-in
	&::before
		content: "　"
		background: url('../images/loading-ring.svg') 
		color: $text-gray
		position: absolute
		display: inline-block
		width: 150px
		height: 150px
		top: calc(50% - 75px)
		left: calc(50% - 75px)
		text-align: center
		

.indloadingHide
	// width: 100%
	// height: 100%
	// position: fixed
	// top: 0px
	// left: 0px
	// z-index: 9998
	// background: #FFF
	// transition: all 0.5s ease-in
	animation: indloadingHideAni 1s 0.8s 1 normal forwards ease-in

@keyframes indloadingHideAni
	0%
		opacity: 1
	100%
		opacity: 0
		z-index: -100

/*首頁loading特效*/
.indloadingAni
	width: 100%
	height: 100%
	position: fixed
	z-index: 9997
	background: rgba(0,0,0,0.7)  url(../images/index-mask-ani.png) no-repeat 
	background-size: 3000% 100%
	background-position: 100% 0%
	// background: $color-danger
	// -webkit-mask: url(../images/index-mask-ani.png) no-repeat 
	// mask: url(../images/index-mask-ani.png) no-repeat 
	// -webkit-mask-size: 2000% 100vh
	// mask-size: 2000% 100vh
	// mask-position: 100% 0%
	animation: indloadingAniMask 1.5s 0.8s 1 steps(30 ,end) normal forwards 
	// opacity: 1

@keyframes indloadingAniMask
	0%
		// -webkit-mask-position: 100% 0%
		// mask-position: 100% 0%
		background-position: 100% 0%
		opacity: 1
	60%
		opacity: 0.5
	100%
		// -webkit-mask-position: 0% 0%
		// mask-position: 0% 0%
		background-position: 0% 0
		opacity: 0
		z-index: -1

/*首頁banner*/
.indBanner
	width: 100%
	// margin-top: -180px
	.owl-carousel
		// z-index: 2
		// div
		// 	a
		// 		img
		// .owl-nav
		// 	display: block
		// 	position: absolute
		// 	right: 0px
		// 	top: -55px
		// 	@include computer
		// 		right: 15px
		// 	.owl-prev
		// 		width: 30px
		// 		height: 30px
		// 		background: #FFF
		// 		border-radius: 4px
		// 		margin-right: 10px
		// 	.owl-next
		// 		width: 30px
		// 		height: 30px
		// 		background: #FFF
		// 		border-radius: 4px

/*首頁文編區*/
.indAdArea
	width: 100%
	margin: 30px auto
	// padding: 30px 0
	padding: 30px 20px
	@include maxcom-1920
		padding: 30px 0
	// margin: 30px auto


/*首頁產品區*/
.indProArea
	margin: 30px auto
	padding: 0 20px
	@include maxcom-1920
		padding: 0
.indPro-titArea
	width: 100%
	margin-bottom: 60px
	.indPro-titArea--cn
		color: #ffffff
		letter-spacing: 0.5px
		text-align: center
		.indPro-titArea--cn--word
			display: inline-block
			width: 46px
			height: 46px
			border-radius: 50%
			background: $black
			line-height: 46px
			margin: 0 5px
	.indPro-titArea--en
		text-align: center
		font:
			size: $text-14
			style: italic
.indPro
	width: 100%
	padding: 25px
	border: $gray-line
	margin: 0 auto
	position: relative
	@include ipad
		width: 50%
		float: left
		// padding: 30px
		&:nth-of-type(2n)
			border-left: none
	@include computer
		width: 25%
		border: $gray-line
		border-right: none
		&:nth-of-type(2n)
			border: $gray-line
			border-right: none
		&:last-of-type
			border-right: $gray-line
	&:hover
		box-shadow: 0px 10px 26px rgba(0,0,0,0.12)
		transition: all 0.5s ease-in-out
		.indPro-spec
			background: url(../images/bg-black.png) repeat
			color: #FFF
			transition: all 0.5s ease-in-out	
		.indPro-img
			img
				transform: scale(1.05)
				transition: all 0.5s ease-in-out
	.indPro-spec
		position: absolute
		z-index: 1
		width: 160px
		height: 40px
		border-radius: 20px
		padding: 0 12px
		line-height: 36px
		top: -20px
		left: calc(50% - 80px)
		background: url(../images/bg.png) repeat
		border: $gray-line
		text-align: center
		letter-spacing: 2px
	.indPro-img
		display: block
		width: 100%
		height: auto
		img
			width: 100%
			height: auto
		// &:hover
		// 	img
		// 		transition: all 0.5s ease-in-out
		// 		transform: scale(1.1)
	.indPro-tit
		display: block
		width: 60%
		height: 60px
		float: left
		line-height: 1.7
		font:
			size: $text-20
		&:hover
			color: $text-gray
.indPro-price
		display: block
		text-align: right
		width: 40%
		float: right
		.indPro-price--ori
			font:
				size: $text-20
			opacity: 0.3
			text-decoration: line-through
			// display: inline-block
		.indPro-price--act
			font:
				size: 1.88rem
			color: $black
			margin-top: -3px

/*首頁錨點動畫*/
.indthumbArea
	position: fixed
	right: 40px
	top: 150px
.indthumb01,.indthumb02,.indthumb03,.indthumb04
	width: 100px
	display: block
	position: relative
	margin: 0 0 25px 0
	opacity: 0
	transform: translateY(-50px)
	&:hover
		img
			transform: scale(1.1)
		.indthumb-tit
			animation: indthumbTitAni 0.5s 0s 1 forwards ease-in-out
	img
		width: 100%
		height: auto
		transition: all 0.5s linear
	.indthumb-tit
		height: 90px
		padding: 10px 8px 8px 6px
		text-shadow: 0px 0px 10px rgba(255,255,255,0.4)
		color: #FFF
		background: $color-danger 
		border: $gray-line-inBlack
		-webkit-writing-mode: vertical-rl 
		writing-mode: vertical-rl 
		letter-spacing: 3px
		position: absolute
		// left: calc(50% - 19px)
		left: -10px
		top: 0%
		opacity: 0
		z-index: 1
		// animation: indthumbTitAni 0.5s 0s 1 forwards ease-in-out
.indthumb02
	width: 108px
	right: 3px
.indthumb03
	width: 100px
.indthumb04
	width: 102px
	left: 2px
@keyframes indthumbTitAni
	0%
		opacity: 0
		top: 0%
	100%
		opacity: 1
		top: -20px

		

/*首頁元素動畫*/
.indProAni
	width: 100%
	position: relative
	display: none
	@include maxcom-1920
		display: block
.indele-pro01
	width: 360px
	height: auto
	position: absolute
	opacity: 0
	top: -140px
	left: -70px
	animation: indele-pro01Ani 0.8s 0.5s 1 forwards ease-in-out

@keyframes indele-pro01Ani
	0%
		opacity: 0
		top: -150px
		left: -200px
	100%
		opacity: 1
		top: -180px
		left: 0

/*純css 實現拋物線動畫*/
/*https://www.zhangxinxu.com/wordpress/2018/08/css-css3-%E6%8A%9B%E7%89%A9%E7%BA%BF%E5%8A%A8%E7%94%BB/*/
.indele-pro02--horizontal
	width: 50px
	height: auto
	position: absolute
	left: 180px
	opacity: 0
	animation: indele-pro02Ani--horizontal 0.7s 1s 1 forwards linear


@keyframes indele-pro02Ani--horizontal
	0%
		left: 180px
	40%
		opacity: 0.3
		left: 400px
	100%
		opacity: 1
		left: 480px


.indele-pro02--vertical
	width: 50px
	height: auto
	position: absolute
	opacity: 0
	top: 0px
	animation: indele-pro02Ani--vertical 0.7s 1s 1 forwards cubic-bezier(.55, 0, .85, .55)


@keyframes indele-pro02Ani--vertical
	0%
		opacity: 0
		top: 0px
	40%
		opacity: 0.3
		top: -70px
	100%
		opacity: 1
		top: 60px


.indele-pro03
	width: 25px
	height: auto
	position: absolute
	opacity: 0
	top: 460px
	left: 300px
	animation: indele-pro03Ani 0.5s 1.5s 1 forwards ease


@keyframes indele-pro03Ani 
	0%
		top: 460px
		opacity: 0
	100%
		opacity: 1
		top: 560px
		left: 300px

		
.indele-pro04
	width: 40px
	height: auto
	position: absolute
	left: 215px
	animation: indele-pro04Ani 0.5s 1.5s 1 forwards ease
	opacity: 0
	top: 500px
	transform: rotate(180deg)

@keyframes indele-pro04Ani 
	0%
		opacity: 0
		top: 500px
		transform: rotate(180deg)
	100%
		opacity: 1
		top: 640px
		transform: rotate(0deg)


.indele-pro05
	width: 450px
	height: auto
	position: absolute
	animation: indele-pro05Ani 1s 3s 1 forwards ease-in-out
	opacity: 0
	top: 850px
	right: -130px


@keyframes indele-pro05Ani 
	0%
		opacity: 0
		top: 670px
		right: -500px
		transform: rotate(-80deg)
	100%
		opacity: 1
		top: 850px
		right: -130px
		transform: rotate(0deg)
		

/*首頁產品介紹區*/
.indintroArea
	width: 100%
	padding: 30px 20px
	margin: 0 auto
	position: relative
	// background: url(../images/bg-intro.png) repeat
	@include computer
		padding: 40px 20px
		// bottom: -380px
		// margin-bottom: -400px
	@include maxcom
		// bottom: -600px
		// top: 600px
		// margin-bottom: -100px
// .indintroTopBg
// 	display: none
// 	@include maxcom-1920
// 		display: block
// 		width: 100%
// 		height: 168px
// 		margin-top: -168px
// 		position: absolute
// 		z-index: -1


.indFooter
	@include computer
		position: relative
		top: -450px
	@include maxcom
		top: -600px
	@include maxcom-1920
		top: -1350px

.indminusHeight
	@include computer
		width: 100%
		height: 1px
		margin-top: -400px


// 藤椒文案
.indintro-section01
	position: relative
//文案區
.indsecond01-textArea
	width: auto
	margin: 40px 0
	@include ipad
		padding: 0 40px
	@include computer
		width: 60%
		float: left
	@include maxcom-1920
		padding: 0 
	.indsecond01-introText
.indsecond01-img
	width: 100%
	height: auto
	position: absolute
	top: 200px
	right: -20px
	// -webkit-mask: url(../images/logo-mask-ani.png) no-repeat 
	// mask: url(../images/logo-mask-ani.png) no-repeat 
	// mask-size: cover
	// opacity: 0
	// animation: indsecond01Mask 1.6s 0s 1 steps(20 ,end) normal forwards 
	@include ipad
		width: 80%
		top: 60px
		right: -20px
	@include computer
		width: 70%
		top: 100px
		// right: -30px
		float: right
	@include maxcom-1920
		// top: -300px
		right: 0px

// 江湖牛肉拌麵區
.indintro-section02
	position: relative
	margin-top: 150px
	@include ipad
		margin-top: 150px
	@include computer
		margin-top: 150px
	@include maxcom-1920
		margin-top: 100px
	.indintro02-tit
		width: auto
		float: left
		position: absolute
		right: 0px
		z-index: 2
		margin-right: -15px
		@include computer
			left: 80px
			top: -20px
		@include computer
			top: 140px
		@include maxcom-1920
			left: 260px
			top: 220px
	.indintro02-noodleImgArea
		position: relative
		width: 90%
		height: auto
		@include computer
			width: 85%
		@include maxcom
			width: 65%
		@include maxcom-1920
			width: 57%
		.indintro02--noodleBgImg
			position: relative
			left: -20px
			width: 100%
			height: auto
			-webkit-mask: url(../images/logo-mask-ani.png) no-repeat 
			mask: url(../images/logo-mask-ani.png) no-repeat 
			mask-size: cover
			opacity: 0
			animation: indsecond02Mask 1s 1.5s 1 steps(20 ,end) normal forwards 
		.indintro02--smokeImg
			position: absolute
			width: 25%
			height: auto
			left: 40%
			top: 20px
			z-index: 2
			opacity: 0
			animation: indsecond02Smoke 2s 2.5s 1 normal forwards linear 
			@include ipad
				width: 30%
				top: 40px
				left: 40%	
			@include computer
				left: 45%	
	.indintro02-intro
		width: 100%
		height: 340px
		position: relative
		margin: 10px 0 0 0
		@include iphone
			height: 330px
		@include ipad
			width: 30em
			height: 310px
			margin: -50px auto 0 auto
		@include computer
			width: 28em
			height: 350px
			right: 40px
			float: right
			margin: -420px auto 0 auto
		@include maxcom
			margin: -650px auto 0 auto
		@include maxcom-1920
			right: 260px
			margin: -850px auto 0 auto
		.indintro02-ele04
			display: none
			@include  maxcom
				display: block
				width: 155px
				height: auto
				animation: indintro02ele04 0.5s 2.5s 1 normal forwards ease-in-out 
				position: absolute
				top: 220px
				left: -90px
				opacity: 0
	.indintro02-ele01
		display: none
		@include maxcom
			display: block
			width: 120px
			height: auto
			position: absolute
			z-index: 2
			animation: indsecond02ele01 0.5s 1s 1 normal forwards ease-in-out 
			opacity: 0
			top: 0px
			right: 0px
		@include maxcom-1920
			width: 150px
			animation: indsecond02ele01-1920 0.5s 1s 1 normal forwards ease-in-out 
	.indintro02-ele02
		display: none
		@include maxcom
			display: block
			width: 90px
			height: auto
			position: absolute
			z-index: 2
			animation: indsecond02ele02 0.5s 1.2s 1 normal forwards ease-in-out 
			opacity: 0
			top: 170px
			right: 200px
		@include maxcom-1920
			animation: indsecond02ele02-1920 0.5s 1.2s 1 normal forwards ease-in-out 
			width: 110px
	.indintro02-ele03
		display: none
		@include maxcom
			display: block
			width: 140px
			height: auto
			position: absolute
			z-index: 2
			animation: indsecond02ele03 0.7s 2.2s 1 normal forwards ease-in-out 
			opacity: 0
			top: 170px
			left: 550px
		@include maxcom-1920
			width: 165px
			animation: indsecond02ele03-1920 0.7s 2.2s 1 normal forwards ease-in-out 




@keyframes indsecond02Smoke
	0%
		opacity: 0
	100%
		opacity: 1


@keyframes indsecond02Mask
	0%
		-webkit-mask-position: 0 0
		mask-position: 0 0
		opacity: 0
	80%
		opacity: 0.6
	100%
		-webkit-mask-position: 100% 0
		mask-position: 100% 0
		opacity: 1


@keyframes indsecond02ele01
	0%
		opacity: 0
		top: -160px
		right: -80px
		transform: rotate(8eg)
		filter: blur(15px)
	60%
		opacity: 0.4
	100%
		opacity: 1
		top: -80px
		right: -50px
		transform: rotate(0deg)
		filter: blur(0px)

@keyframes indsecond02ele01-1920
	0%
		opacity: 0
		top: -60px
		right: -50px
		transform: rotate(8eg)
		filter: blur(15px)
	60%
		opacity: 0.4
	100%
		opacity: 1
		top: 20px
		right: 90px
		transform: rotate(0deg)
		filter: blur(0px)

@keyframes indsecond02ele02
	0%
		opacity: 0
		top: 100px
		right: 120px
		transform: rotate(8eg)
		filter: blur(15px)
	60%
		opacity: 0.4
	100%
		opacity: 1
		top: 150px
		right: 200px
		transform: rotate(0deg)
		filter: blur(0px)

@keyframes indsecond02ele02-1920
	0%
		opacity: 0
		top: 120px
		right: 190px
		transform: rotate(8eg)
		filter: blur(15px)
	60%
		opacity: 0.4
	100%
		opacity: 1
		top: 200px
		right: 360px
		transform: rotate(0deg)
		filter: blur(0px)

@keyframes indsecond02ele03
	0%
		opacity: 0
		top: 100px
		left: 600px
		transform: rotate(8eg)
		filter: blur(15px)
	60%
		opacity: 0.4
	100%
		opacity: 1
		top: 180px
		left: 550px
		transform: rotate(0deg)
		filter: blur(0px)

@keyframes indsecond02ele03-1920
	0%
		opacity: 0
		top: 150px
		left: 850px
		transform: rotate(8eg)
		filter: blur(15px)
	60%
		opacity: 0.4
	100%
		opacity: 1
		top: 220px
		left: 760px
		transform: rotate(0deg)
		filter: blur(0px)

@keyframes indintro02ele04
	0%
		opacity: 0
		top: 200px
		transform: rotate(-8deg)
	60%
		opacity: 0.4
	100%
		opacity: 1
		top: 250px
		transform: rotate(2deg)


// 初心xo醬拌麵區
.indintro-section03
	position: relative
	margin: 80px 0 0 0
	@include ipad
		margin-top: 120px
	@include computer
		margin-top: 0px
	@include maxcom
	@include maxcom-1920
		margin-top: -200px
	.indintro03-tit
		width: auto
		float: left
		position: absolute
		left: 0px
		z-index: 2
		margin-right: -15px
		top: -50px
		@include computer
			left: 60px
			top: 80px
		@include maxcom
			right: 40px
			top: 120px
			left: inherit
			float: right
		@include maxcom-1920
			right: 240px
			top: 250px
	.indintro03-noodleImgArea
		position: relative
		width: 100%
		height: auto
		right: -20px
		float: right
		@include computer
		@include maxcom
			width: 65%
		@include maxcom-1920
			width: 65%
			// margin-top: -200px
		.indintro03--noodleBgImg
			width: 100%
			height: auto
			-webkit-mask: url(../images/logo-mask-ani.png) no-repeat 
			mask: url(../images/logo-mask-ani.png) no-repeat 
			mask-size: cover
			opacity: 0
			animation: indsecond03Mask 1s 1.5s 1 steps(20 ,end) normal forwards 
			@include maxcom-1920
				margin-top: -200px
		.indintro03--smokeImg
			position: absolute
			width: 25%
			height: auto
			left: 35%
			top: 40px
			z-index: 2
			opacity: 0
			animation: indsecond03Smoke 2s 2.5s 1 normal forwards linear 
			@include ipad
				width: 30%
				top: 40px
				left: 35%	
			@include computer
				left: 45%	
			@include maxcom
				left: 35%
			@include maxcom-1920
				top: -80px
	.indintro03-intro
		width: 100%
		height: 400px
		position: relative
		margin: 50px 0 0 0
		@include iphone
			height: 330px
		@include ipad
			width: 30em
			height: 340px
			margin: 30px auto 0 auto
		@include computer
			width: 28em
			height: 360px
			right: 40px
			float: right
			margin: -300px auto 0 auto
		@include maxcom
			margin: -520px auto 0 auto
			float: left
			right: 0px
			left: 40px
		@include maxcom-1920
			height: 370px
			position: absolute
			top: 420px
			margin: 0px 0 0 100px
			left: 0px
		.indintro03-ele01
			display: none
			@include  maxcom
				display: block
				width: 180px
				height: auto
				animation: indintro03ele01 0.5s 2.5s 1 normal forwards ease-in-out 
				position: absolute
				top: 220px
				left: 60px
				opacity: 0
			@include  maxcom-1920
				width: 200px
@keyframes indsecond03Smoke
	0%
		opacity: 0
	100%
		opacity: 1


@keyframes indsecond03Mask
	0%
		-webkit-mask-position: 0 0
		mask-position: 0 0
		opacity: 0
	80%
		opacity: 0.6
	100%
		-webkit-mask-position: 100% 0
		mask-position: 100% 0
		opacity: 1



@keyframes indintro03ele01
	0%
		opacity: 0
		top: 160px
		transform: rotate(-10deg)
	60%
		opacity: 0.4
	100%
		opacity: 1
		top: 230px
		transform: rotate(2deg)

// 初戀麻醬拌麵區
.indintro-section04
	position: relative
	margin: 60px 0 0 0
	@include ipad
		margin: 30px 0 0 0
	@include computer
		margin-top: 0px 
	@include computer
	@include computer
	@include maxcom-1920
	.indintro04-tit
		width: auto
		float: left
		position: absolute
		right: 0px
		z-index: 2
		margin-right: -15px
		@include ipad
			top: 100px
		@include computer
			left: 80px
			top: 180px
		@include maxcom-1920
			left: 260px
			top: 130px
	.indintro04-noodleImgArea
		position: relative
		width: 100%
		height: auto
		@include computer
			width: 85%
		@include maxcom
			width: 65%
		@include maxcom-1920
			width: 60%
		.indintro04--noodleBgImg
			position: relative
			left: -20px
			width: 100%
			height: auto
			-webkit-mask: url(../images/logo-mask-ani.png) no-repeat 
			mask: url(../images/logo-mask-ani.png) no-repeat 
			mask-size: cover
			opacity: 0
			animation: indsecond02Mask 1s 1.5s 1 steps(20 ,end) normal forwards 
			@include maxcom-1920
				margin-top: -300px
		.indintro04--smokeImg
			position: absolute
			width: 25%
			height: auto
			left: 40%
			top: 80px
			z-index: 2
			opacity: 0
			animation: indsecond02Smoke 2s 2.5s 1 normal forwards linear 
			@include ipad
				width: 35%
				top: 90px
				left: 45%	
			@include computer
				left: 45%	
				top: 140px
			@include maxcom-1920
				left: 42%
				top: -50px
		.indintro04-ele01
			display: none
			@include maxcom
				display: block
				width: 400px
				height: auto
				position: absolute
				z-index: 2
				opacity: 1
				bottom: 0px
				left: -80px
			@include maxcom-1920
				width: 520px
				bottom: 60px
				left: -70px
		.indintro04-ele02
			display: none
			@include maxcom
				display: block
				width: 100px
				height: auto
				position: absolute
				z-index: 2
				animation: indsecond04ele02 0.7s 2.2s 1 normal forwards ease-in-out 
				opacity: 0
				top: 140px
				right: -300px
			@include maxcom-1920
				width: 115px
				animation: indsecond04ele02-1920 0.7s 2.2s 1 normal forwards ease-in-out 
		.indintro04-ele03
			display: none
			@include maxcom
				display: block
				width: 130px
				height: auto
				position: absolute
				z-index: 2
				animation: indsecond04ele03 0.5s 2.5s 1 normal forwards ease-in-out 
				opacity: 0
				top: 70px
				right: -320px
			@include maxcom-1920
				width: 155px
				animation: indsecond04ele03-1920 0.5s 2.5s 1 normal forwards ease-in-out 
	.indintro04-intro
		width: 100%
		height: 300px
		position: relative
		margin: 30px 0 0 0
		@include iphone
			height: 300px
		@include ipad
			width: 30em
			height: 310px
			margin: 10px auto 0 auto
		@include computer
			width: 27.5em
			height: 320px
			right: 40px
			float: right
			margin: -300px auto 0 auto
		@include maxcom
			height: 330px
			margin: -480px auto 0 auto
		@include maxcom-1920
			height: 340px
			right: 260px
			margin: -620px auto 0 auto
		.indintro04-ele04
			display: none
			@include maxcom
				display: block
				width: 160px
				height: auto
				position: absolute
				z-index: 2
				animation: indsecond04ele04 0.8s 3s 1 normal forwards ease-in-out 
				opacity: 0
			@include maxcom-1920
				width: 170px
				// top: 260px
				// left: 50px


@keyframes indsecond04Smoke
	0%
		opacity: 0
	100%
		opacity: 1


@keyframes indsecond04Mask
	0%
		-webkit-mask-position: 0 0
		mask-position: 0 0
		opacity: 0
	80%
		opacity: 0.6
	100%
		-webkit-mask-position: 100% 0
		mask-position: 100% 0
		opacity: 1

@keyframes indsecond04ele02
	0%
		opacity: 0
		top: 140px
		right: -300px
		transform: rotate(8eg)
		filter: blur(20px)
	60%
		opacity: 0.4
	100%
		opacity: 1
		top: 280px
		right: -40px
		transform: rotate(0deg)
		filter: blur(0px)

@keyframes indsecond04ele02-1920
	0%
		opacity: 0
		top: 140px
		right: -360px
		transform: rotate(8eg)
		filter: blur(20px)
	60%
		opacity: 0.4
	100%
		opacity: 1
		top: 200px
		right: -140px
		transform: rotate(0deg)
		filter: blur(0px)


@keyframes indsecond04ele03
	0%
		opacity: 0
		top: 30px
		right: -450px
		transform: rotate(8eg)
		filter: blur(20px)
	60%
		opacity: 0.4
	100%
		opacity: 1
		top: 90px
		right: -320px
		transform: rotate(0deg)
		filter: blur(0px)

@keyframes indsecond04ele03-1920
	0%
		opacity: 0
		top: -20px
		right: -840px
		transform: rotate(8eg)
		filter: blur(20px)
	60%
		opacity: 0.4
	100%
		opacity: 1
		top: 20px
		right: -640px
		transform: rotate(0deg)
		filter: blur(0px)

@keyframes indsecond04ele04
	0%
		opacity: 0
		top: 200px
		left: 50px
		filter: blur(20px)
	40%
		opacity: 0.4
		filter: blur(17px)
	100%
		opacity: 1
		top: 260px
		left: 50px
		filter: blur(0px)


// 幸福椒麻拌麵區
.indintro-section05
	position: relative
	margin: 50px 0 0 0
	@include ipad
		margin: 30px 0 0 0
	@include computer
		margin-top: 0px 
	@include maxcom
	@include maxcom-1920
	.indintro05-tit
		width: auto
		float: left
		position: absolute
		left: 0px
		z-index: 2
		margin-right: -15px
		top: 0px
		@include ipad
			top: 80px
		@include computer
			left: 60px
			top: 220px
		@include maxcom
			right: 40px
			top: 80px
			left: inherit
			float: right
		@include maxcom-1920
			right: 240px
			top: 200px
	.indintro05-noodleImgArea
		position: relative
		width: 100%
		height: auto
		right: -20px
		@include computer
		@include maxcom
			width: 65%
			float: right
		@include maxcom-1920
			width: 65%
		.indintro05--noodleBgImg
			position: relative
			width: 100%
			height: auto
			-webkit-mask: url(../images/logo-mask-ani.png) no-repeat 
			mask: url(../images/logo-mask-ani.png) no-repeat 
			mask-size: cover
			opacity: 0
			animation: indsecond05Mask 1s 1.5s 1 steps(20 ,end) normal forwards 
			@include maxcom-1920
				margin-top: -240px
		.indintro05--smokeImg
			position: absolute
			width: 25%
			height: auto
			left: 35%
			top: 40px
			z-index: 2
			opacity: 0
			animation: indsecond05Smoke 2s 2.5s 1 normal forwards linear 
			@include ipad
				width: 30%
				top: 40px
				left: 35%	
			@include computer
				left: 30%	
			@include maxcom
				left: 30%
				top: -20px	
	.indintro05-intro
		width: 100%
		height: 400px
		position: relative
		margin: 40px 0 0 0
		@include iphone
			height: 360px
		@include ipad
			width: 30em
			height: 370px
			margin: 30px auto 0 auto
		@include computer
			width: 28em
			height: 370px
			right: 40px
			float: right
			margin: -300px auto 0 auto
		@include maxcom
			margin: 340px auto 0 auto
			height: 380px
			float: left
			right: 0px
			left: 40px
		@include maxcom-1920
			height: 400px
			left: 0px
			margin: 360px auto 0 100px
		.indintro05-ele02
			display: none
			@include maxcom
				display: block
				height: auto
				position: absolute
				width: 180px
				left: -60px
				bottom: -140px
			@include maxcom-1920
				left: -120px
				bottom: -160px



@keyframes indsecond05Smoke
	0%
		opacity: 0
	100%
		opacity: 1


@keyframes indsecond05Mask
	0%
		-webkit-mask-position: 0 0
		mask-position: 0 0
		opacity: 0
	80%
		opacity: 0.6
	100%
		-webkit-mask-position: 100% 0
		mask-position: 100% 0
		opacity: 1


/*純css 實現拋物線動畫*/
/*https://www.zhangxinxu.com/wordpress/2018/08/css-css3-%E6%8A%9B%E7%89%A9%E7%BA%BF%E5%8A%A8%E7%94%BB/*/
.indintro05-ele01--horizontal
	width: 45px
	height: auto
	position: absolute
	left: -140px
	top: 0px
	opacity: 0
	animation: indintro05-ele01--horizontal 0.5s 1s 1 forwards linear


@keyframes indintro05-ele01--horizontal
	0%
		left: -200px
		fliter: blur(15px)
	40%
		opacity: 0.3
		left: 0px
	100%
		opacity: 1
		left: 100px
		fliter: blur(0px)


.indintro05-ele01--vertical
	width: 45px
	height: auto
	position: absolute
	opacity: 1
	top: 0px
	animation: indintro05-ele01--vertical 0.5s 1s 1 forwards cubic-bezier(.55, 0, .85, .55)


@keyframes indintro05-ele01--vertical
	0%
		opacity: 0
		top: 0px
	40%
		opacity: 0.3
	100%
		opacity: 1
		top: 100px


//麵標題區
.indintroTitArea
	
// .indNoodleTit
// 	padding: 20px 8px 12px 6px
// 	background: $color-danger 
// 	-webkit-writing-mode: vertical-rl 
// 	writing-mode: vertical-rl 
// 	color: #FFF
// 	letter-spacing: 7px
// 	border: $gray-line-inBlack
// 	float: left
// 	opacity: 0
// 	animation: indNoodleTitAni 1s 1.5s 1 normal forwards ease-in-out 
// 	@include iphone
// 		font-size: $text-36
// 		padding: 23px 8px 15px 6px
// 	@include ipad
// 		font:
// 			size: $text-110
// 			weight: 900
// 		letter-spacing: 15px
// 		padding: 40px 10px 25px 8px

.indNoodleTit
	-webkit-writing-mode: vertical-rl 
	writing-mode: vertical-rl 
	color: #FFF
	letter-spacing: 7px
	float: left
	opacity: 0
	animation: indNoodleTitAni 1s 1.5s 1 normal forwards ease-in-out 
	@include iphone
		font-size: $text-36
	@include ipad
		font:
			size: $text-110
			weight: 900
		letter-spacing: 15px
	.indNoodleTit--word
		border-radius: 50%
		background: $color-danger
		padding: 10px 6px 5px 5px
		margin-top: -22px
		@include iphone
			padding: 28px 15px 15px 12px
			margin-top: -15px


		





.indNoodleSubTit
	-webkit-writing-mode: vertical-rl 
	writing-mode: vertical-rl 
	margin: 40px 15px 0 15px
	float: left
	opacity: 0	
	animation: indNoodleTitAni 1s 1.5s 1 normal forwards ease-in-out 
	@include ipad
		margin: 120px 30px 0 30px
	.indNoodleSubTit--word
		display: inline-block
		width: 36px
		height: 36px
		line-height: 36px
		border-radius: 50%
		background: $black
		padding: 8px 0 0 0
		margin: 0 auto
		color: #FFF
		font: 
			size: $text-20
		@include iphone
			font-size: $text-24
			width: 42px
			height: 42px
			line-height: 42px
			padding: 10px 0 0 0
		@include ipad
			font-size: $text-32
			width: 52px
			height: 52px
			line-height: 54px
			padding: 12px 0 0 0
			margin: 7px 0 0 0
	.indNoodleSubTit--word--vertical
			transform: rotate(-90deg)
			padding: 7px 0 0 0
			letter-spacing: -1px
			display: inline-block

@keyframes indNoodleTitAni
	0%
		opacity: 0
		transform: translateY(-40px)
	100%
		opacity: 1	
		transform: translateY(0px)




//介紹黑色文案區
.indtextBlack
	display: block
	background: $black
	border: $gray-line-inBlack
	opacity: 0
	animation: indtextAni 1s 0.5s 1 normal forwards ease-in-out 
	&:hover
		.indtextBlack-arrow
			right: -15px
			@include ipad
				right: -40px
	.indtextBlack-inrto
		height: 100%
		border-right: $gray-line-inBlack
		padding: 30px 12px 30px 12px
		-webkit-writing-mode: vertical-lr
		writing-mode: vertical-lr  
		float: left
		color: #FFF
		letter-spacing: 4px
		@include ipad
			padding: 35px 12px 35px 12px
		@include maxcom
			padding: 40px 12px 40px 12px
	.indtextBlack-text
		margin-left: 112px
		padding: 30px 20px 30px 20px
		@include iphone
			padding: 30px 30px 30px 30px
		@include ipad
			padding: 35px 35px 35px 35px
		@include maxcom
			padding: 40px 35px 40px 35px
		.indtextBlack-text--Style
			font-size: $text-16
			color: #FFF
			@include iphone
				font-size: $text-18
	.indtextBlack-arrow
		position: absolute
		bottom: 15px
		right: 0px
		transform: translateX(0px)
		animation: arrowAni 0.5s 2s 1 normal forwards linear 
		transition: all 0.3s ease 
		@include ipad
			right: -30px

			
			
@keyframes indtextAni
	0%
		opacity: 0
		// top: 40px
	100%
		opacity: 1	
		// top: 0px


@keyframes arrowAni
	0%
		transform: translateX(0px)
	100%
		transform: translateX(20px)



.indFooter
