/*模組區*/
// .modNews,.modNews--court
// 	border-bottom: $gray-line
// 	overflow: hidden
// 	@include maxcom
// 		display: flex
// 		flex-wrap: nowrap
// 		align-items: center
// 	&:last-of-type
// 		border-bottom: none
// .modNews-date
// 	@include maxcom
// 		width: 15%
// 		float: left
// 	@include maxcom-1920
// 		width: 10%
// .modNews-tit
// 	width: 100%
// 	float: left
// 	display: block
// 	font:
// 		size: $text-17
// 		weight: 400
// 	@include maxcom
// 		width: 85%
// 		float: left
// 		@include typoNowrap
// 		margin-top: -7px
// 	@include maxcom-1920
// 		width: 90%
// 	&:hover
// 		text-decoration: underline
// 		color: $color-info-500
		
// .modNews--court
// 	.modNews-date
// 		width: auto
// 		float: left
// 		@include maxcom
// 			width: 15%
// 		@include maxcom-1920
// 			width: 10%
// 	.modNews-classify
// 		width: auto
// 		float: left
// 		margin-left: 20px
// 		background: $primary-color-100
// 		border-radius: 4px
// 		padding: 3px 15px
// 		text-align: center
// 		color: $main-color
// 		@include maxcom
// 			width: 15%
// 			margin-right: 20px
// 		@include maxcom-1920
// 			width: 10%
// 			margin-right: 40px

// /*檔案按鈕連結*/
// .modelLinkBt
// 	width: 100%
// 	padding: 20px
// 	// @include flexNowrap
// 	@include btnEm-shadow
// 	border-radius: 6px
// 	background: #FFF
// 	display: block
// 	cursor: pointer
// 	&:hover
// 		text-decoration: none
// 	@include maxcom
// 		padding: 25px
// 	&:hover
// 		box-shadow: 0px 10px 10px rgba(34,34,34,0.12) 
// 	.modelLinkBt-fileImg
// 		border-radius: 4px
// 		width: 56px
// 		height: 56px
// 		background: $color-info-100
// 		line-height: 56px
// 		padding: 12px 0 0 12px
// 		float: left
// 	.modelLinkBt-tit
// 		margin-left: 76px
// 		@include typoNowrap
// 	.modelLinkBt-checkbox
// 		border-radius: 4px
// 		width: 30px
// 		height: 30px
// 		float: left
// 		margin: 8px 0 0 15px 

//購物車按鈕區
.modBtarea
	width: 100%
	@include computer
		padding-right: 30px
		float: right
	@include maxcom
		padding-right: 0px
	.modBtarea-backBt
		@include computer
			width: 300px
			float: right
	.modBtarea-nextBt
		@include computer
			width: 300px
			float: right
			margin-left: 12px
