/*各頁面*/
/*login.html*/
// .paloginPosition
// 	height: 100%
// 	background: $primary-color-600
// 	@include computer
// 		display: flex
// 		align-items: center
// .paLoginArea
// 	@include computer
// 		width: 40%
// 		height: 100vh
// 		display: flex
// 		align-items: center
// 		background: $primary-color-600
// 		background-size: cover
// 		// background: $bg-gray-100 url(../images/phone-bg.svg) no-repeat
// .paLogin
// 	width: 280px
// 	margin: 0 auto
// 	padding: 20px 0
// 	@include ipad
// 		width: 26em
// 		margin: 0 auto
// 	@include maxcom
// 		width: 32em
// 	&-logo
// 		width: 100%
// 		height: auto
// 		display: block
// 		margin-top: 30px 
// 		margin-bottom: 10px 
// 		&:hover
// 			transform: translateX(15px)
// 	&-pagetit
// 		color: $color-info-400
// 	&-labeltit
// 		color: #FFF
// 	&-reCAPTCHA
// 		width: 100%
// 		margin: 20px auto 15px auto
// 		padding: 0 30px
// 		overflow: hidden
// 		img
// 			width: 100%
// 			height: auto
// 	&-submitBt
// 		text-align: center
// 		letter-spacing: 1px
// 		padding: 0 20px
// 		line-height: 44px
// 		border-radius: 6px
// 		background: $color-info-500
// 		display: block
// 		color: #FFF
// 		&:hover
// 			color: #FFF
// 			background: $color-info-600
// 	&-forgetBt
// 		font:
// 			weight: 500
// 		text-align: center
// 		display: block
// 		color: #FFF
// 		margin-top: 40px
// 		text-decoration: underline
// 		&:hover
// 			color: $text-gray-300
// 			text-decoration: underline
// 	&-backArrowBt
// 		width: 30px
// 		height: 30px
// 		margin: 0 20px 0 0
// 		vertical-align: -5px
// 		cursor: pointer
// 		transition: all 0.3s ease
// 		&:hover
// 			transform: translateX(-10px)
// .paLogoArea
// 	display: none
// 	@include computer
// 		display: block
// 		width: 60%
// 		height: 100vh
// 		display: flex
// 		align-items: flex-end
// 		background: $main-color url(../images/login-bg.png) no-repeat center 
// 		background-size: cover
// 		flex-wrap: wrap 
// 		overflow: hidden
// 	&-copyright
// 		width: 100%
// 		text-align: center
// 		color: #FFF
// 		padding: 0 0 100px 0


/*產品列表*/
.paProliArea
	@include ipad
		border-right: $gray-line
	@include maxcom
		border-bottom: $gray-line
	@include maxcom-1920
/*組合專區產品列表*/
.paProli
	width: 100%
	padding: 25px
	border: $gray-line
	margin: 0 auto 40px auto
	position: relative
	transition: all 0.5s ease-in-out
	background: url(../images/bg.png) repeat
	@include ipad
		width: 50%
		float: left
		margin: 0 auto 
		margin-bottom: -1px
		border-right: none
	@include maxcom
		// width: 33.33%
	&:hover
		box-shadow: 0px 10px 26px rgba(0,0,0,0.12)
		.paProli-spec
			background: url(../images/bg-black.png) repeat
			color: #FFF
			transition: all 0.5s ease-in-out	
		.paProli-img
			img
				transform: scale(1.05)
				transition: all 0.5s ease-in-out
	.paProli-spec
		position: absolute
		z-index: 1
		width: 160px
		height: 40px
		border-radius: 20px
		padding: 0 12px
		line-height: 36px
		top: -20px
		left: calc(50% - 80px)
		background: url(../images/bg.png) repeat
		border: $gray-line
		text-align: center
		letter-spacing: 2px
		@include ipad
			width: 40px
			height: 160px
			top: calc(50% - 90px)
			left: -20px
			-webkit-writing-mode: vertical-lr
			writing-mode: vertical-lr
			line-height: 37px
			padding: 12px 0
			@include ie11
				top: 50%
	.paProli-img
		display: block
		width: 100%
		height: auto
		position: relative
		z-index: 2
		img
			width: 100%
			height: auto
	.paProli-tit
		display: block
		width: 60%
		height: 60px
		float: left
		line-height: 1.7
		font:
			size: $text-20
		&:hover
			color: $text-gray
.paProli-price
	display: block
	text-align: right
	width: 40%
	float: right
	.paProli-price--ori
		font:
			size: $text-20
		opacity: 0.3
		text-decoration: line-through
	.paProli-price--act
		font:
			size: 1.88rem
		color: $black
		margin-top: -3px


//產品介紹內頁
.paProinArea
	border-top: $gray-line
	border-bottom: $gray-line
	@include ipad
	@include computer
		margin-right: 30px
	@include maxcom
		margin-right: 0px
	@include maxcom-1920
.paProinTopArea
	border-bottom: $gray-line
	padding: 30px 0 0 0
	@include maxcom-1920
		padding: 60px 0 50px 0
	.paProinTopArea-imgArea
		width: 100%
		height: auto
		@include maxcom
			width: 45%
			float: left
		@include maxcom-1920
			width: 55%
	.owl-theme .owl-dots .owl-dot span
		margin: 10px 7px !important
		background: $line-gray !important
	.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
		background: $color-danger !important
		// .owl-dots
		// 	display: block
		// 	.owl-dots
		// 		padding: 0px
		// .owl-nav
		// 	display: block
		// 	margin: 30px auto 0 auto
		// 	@include ipad
		// 		margin: 50px auto 0 auto
		// 	@include maxcom-1920
		// 	.owl-prev
		// 		width: 70px
		// 		height: 15px
		// 		margin: 0 40px 0 auto
		// 		content: " "
		// 		background: url(../images/back-icon.png) no-repeat
		// 		transition: all 0.3s ease-in
		// 		&:hover
		// 			transform: translateX(-15px)
		// 		span
		// 			display: none
		// 	.owl-next
		// 		width: 70px
		// 		height: 15px
		// 		margin: 0 auto 0 auto
		// 		content: " "
		// 		background: url(../images/next-icon.png) no-repeat
		// 		transition: all 0.3s ease-in
		// 		&:hover
		// 			transform: translateX(15px)
		// 		span
		// 			display: none
	.paProinTopArea-infoArea
		padding: 30px 0 0 0
		position: relative
		@include maxcom
			width: 55%
			float: left
			padding-left: 60px 
		@include maxcom-1920
			width: 45%
			padding-left: 80px 
			padding-bottom: 50px

.paProin-proTit
	font:
		size: 2.13rem
		weight: 600
.paProin-specTit
	font:
		weight: 600
.paProin-OriPriceTit
	font:
		size: $text-20
	opacity: 0.5
	padding: 0 0 0 15px 
	text-decoration: line-through
.paProin-redLine
	display: none
	@include maxcom
		display: block
		height: 1px
		background: $color-danger
		position: relative
		z-index: 2
		// right: 30%
		margin: 40px 0 40px 0
		animation: paProin-redLineAni 1s 1s 1 forwards ease-in-out
		width: 0%
@keyframes paProin-redLineAni
	0%
		width: 0%
	100%
		width: 100%
.paProintextArea
	padding: 30px 0
	@include maxcom-1920
		padding: 50px 0

//電腦板購買按鈕
.paProinBuyArea--com
	display: none
	@include computer
		display: block

//手機板購買按鈕置底
.paProinBuyArea--phone
	position: fixed
	bottom: 0px
	left: 0px
	width: 100%
	padding: 12px 20px 12px 20px
	background: url(../images/bg.png) repeat
	border-top: $gray-line
	z-index: 3
	@include computer
		display: none
	.fidArea
		width: 40%
		float: left
		padding: 0 0 0 0
		label
			display: none !important
	.btnRedBt
		width: 57%
		float: right

.paProinFooterArea
	margin-bottom: 74px
	@include computer
		margin-bottom: 0px
		

//問與答
.paQaArea
	border-top: $gray-line
	// position: relative
.paQalist
	border-bottom: $gray-line
	padding: 30px 0 0 0
	// position: relative
	// z-index: 2
	@include maxcom
		padding: 60px 0 10px 0
.paQa-q,.paQa-a
	padding: 0 0 40px 0
	position: relative
	z-index: 2
.paQa-label--red,.paQa-label--black
	display: block
	width: 55px
	height: 55px
	line-height: 46px
	padding: 0 0 0 16px
	font:
		size: $text-34
	color: #FFF
	background: $color-danger
	float: left
.paQa-label--black
	background: $black
	padding: 0 0 0 18px
	line-height: 50px
.paQa-tit
	margin: 0 0 0 80px
	display: block

//購物車01
.paCartNoProArea
	width: 100%
	padding: 120px 0
	text-align: center
	border-top: $gray-line
	border-bottom: $gray-line
	@include maxcom-1920
		height: 650px
		padding: 260px 0 0 0
.paCartArea
	@include computer
		margin-right: 30px
	@include maxcom
		margin-right: 0px
.paCartProli
	border-top: $gray-line
	border-bottom: $gray-line
.paCartProli-mainPro
	position: relative
	display: flex
	flex-wrap: nowrap
	justify-content: flex-start
	align-items: center
	padding: 30px 15px
	@include ipad
		padding: 30px 20px
	@include maxcom
		padding: 30px 30px
.paCartProli-proimg
	width: 80px
	height: auto
	margin-right: 20px
	// position: relative
	z-index: 2
	@include ipad
		width: 100px
		margin-right: 40px
.paCartProli-textArea
	margin-right: 110px
	@include ipad
		width: 65%
	@include maxcom
		width: 55%
		margin-right: 0px
	.paCartProli-textArea--tit
		@include ipad
			display: block
			float: left
			width: 80%
			@include typoNowrap
	.paCartProli-textArea--price
		display: block
		@include ipad
			display: block
			float: left
			width: 20%
.paCartProli-delbt
	position: absolute
	right: 0px
	top: 0px
	@include maxcom
		right: 30px
		top: inherit
		// bottom: 0px
.paCartProli-select
	width: 100px
	position: absolute
	right: 0px
	top: 70px
	@include maxcom
		width: 110px
		right: 30px
		position: relative
		right: 0px
		top: 0px


.paCartProli-secPro
	background: rgba(0,0,0,.08)
	display: flex
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	@include maxcom
.paCartProli-secPro--secTit
	width: 100%


.paCartProli-secProli
	width: 100%
	display: flex
	flex-wrap: no-wrap
	justify-content: start
	align-items: center
	position: relative
	padding: 30px 15px
	@include ipad
		padding: 30px 20px
	@include maxcom
		width: 50%
		padding: 30px 30px
.paCartProli-secProli--secProliimg
	width: 80px
	height: auto
	margin-right: 20px
.paCartProli-secProli--secProliTit
	margin: 0 120px 0 0
	@include maxcom
		margin: 0 140px 0 0
		// @include typoNowrap
.paCartProli-secProli--select
	width: 100px
	position: absolute
	right: 20px
	@include ipad
		width: 120px
	@include maxcom
		right: 30px


	
//cart02.php
.paCartOrderArea
	border-top: $gray-line
	border-bottom: $gray-line
	@include computer
		margin-right: 30px
	@include maxcom-1920
		margin-right: 0px
.paCartOrder-leftArea,.paCartOrder-rightArea
	position: relative
	z-index: 2
	width: 100%
	padding: 30px 0
	border-bottom: $gray-line
	@include computer
		width: 50%
		float: left
		border-bottom: none
		padding: 30px
	@include maxcom-1920
		padding: 60px

.paCartOrder-rightArea
	border-bottom: none
	@include computer
		border-left: $gray-line



//cart03.php
.paCartFinArea
	border-top: $gray-line
	border-bottom: $gray-line
	padding: 40px 0
	@include computer
		margin-right: 30px
		height: 700px
	@include maxcom-1920
		margin-right: 0px
		padding: 200px 0 60px 0
		
.paCartFinHeight
	@include maxcom-1920
		min-height: 800px


//login.php
.paLoginArea
	// border-top: $gray-line
	border-bottom: $gray-line
	@include computer
		margin-right: 30px
		// height: 700px
	@include maxcom
		margin-right: 0px
	@include maxcom-1920
		// padding: 200px 0 60px 0
.paLogin
	padding: 30px 0
	margin: 0 auto
	@include ipad
		width: 32em
.paLoginSocialTit
	text-align: center
	border-top: $gray-line
	position: relative
	span
		display: inline-block
		background: url(../images/bg.png) repeat
		padding: 0 30px 
		position: relative
		top: -15px
.paLoginSociaArea
	width: 100%
	text-align: center
	.paLoginSocia-bt
		display: inline-block
		padding: 0 15px
		margin: 0 auto
		img
			width: 60px
			height: 60px
		&:hover
			transform: translateY(-10px)
		
//sign-up.php
.paSignupArea
	// border-top: $gray-line
	border-bottom: $gray-line
	@include computer
		margin-right: 30px
		// height: 700px
	@include maxcom
		margin-right: 0px
	@include maxcom-1920
		// padding: 200px 0 60px 0

.paSignup
	padding: 30px 0
	margin: 0 auto
	@include ipad
		padding: 60px 0
.paSignup-add
	width: 100%
	@include computer
		width: 33.33%
		float: left
		padding: 0 60px 0 0
		&:last-of-type
			padding: 0 0 0 0
			

//forget.php
.paForgetArea
	border-top: $gray-line
	border-bottom: $gray-line
	padding: 40px 0
	@include computer
		margin-right: 30px
		height: 700px
	@include maxcom-1920
		margin-right: 0px
		padding: 200px 0 60px 0
.paForget
	padding: 30px 0
	margin: 0 auto
	@include ipad
		width: 32em


//membership-profile.php
.paprofileArea
	border-bottom: $gray-line
	@include computer
		margin-right: 30px
	@include maxcom-1920
		margin-right: 0px
.paprofileArea-leftArea,.paprofileArea-rightArea
	position: relative
	z-index: 2
	width: 100%
	padding: 30px 0
	border-bottom: $gray-line
	@include computer
		width: 50%
		float: left
		border-bottom: none
		padding: 30px
		border-right: $gray-line
	@include maxcom-1920
		padding: 60px

.paprofileArea-rightArea
	@include computer
	

.paprofileArea-rightArea
	border-bottom: none
	@include computer
		// border-left: $gray-line
		border-right: none

//membership.php

.papmemberArea
	// border-bottom: $gray-line
	@include computer
		margin-right: 30px
	@include maxcom
		margin-right: 0px

.papmemberNoOredeArea
	width: 100%
	padding: 120px 0
	text-align: center
	// border-top: $gray-line
	border-bottom: $gray-line
	@include maxcom-1920
		height: 650px
		padding: 260px 0 0 0

.papmemberliTitArea
	display: none


.papmemberList
	padding: 30px 30px 0 30px
	border-bottom: $gray-line
	position: relative
	z-index: 2
	&::after
		display: block
		content: ""
		clear: both	
	@include ipad
		padding: 30px 0px 0 0px
.papmemberContent
	padding: 0 0 20px 0
	@include ipad
		&:nth-of-type(1)
			width: 22%
			float: left
		&:nth-of-type(2)
			width: 28%
			float: left
		&:nth-of-type(3)
			width: 20%
			float: left
		&:nth-of-type(4)
			width: 20%
			float: left
		&:nth-of-type(5)
			width: 10%
			float: left
	.papmemberContent-tit
		display: block
	.papmemberContent-text
	.papmemberContent-bt
		display: block
		&:hover
			transform: translateX(15px)


//membershipin.php
.papmeminCount
	width: 100%
	padding: 10px 30px 30px 30px
	// margin-top: 30px
	border: $gray-line
	margin: 0 0 30px 0
	@include maxcom-1920
		width: calc(50% - 20px)
		margin: 0 0 30px 20px
		// float: right
		



//newsli.php
.panewsliArea
	// border-bottom: $gray-line
	@include computer
		margin-right: 30px
	@include maxcom
		margin-right: 0px

.panewslist
	border-bottom: $gray-line
	padding: 30px 0
	position: relative
	z-index: 2
	overflow: hidden
	display: flex
	flex-wrap: nowrap
	align-items: center
	&:hover
		.panewslistTit
			color: $color-danger
			text-decoration: underline
		


.panewslist-label
	width: auto
	// float: left
.panewslist-label--red,.panewslist-label--black
	width: 105px
	padding: 5px 0px 12px 0px
	color: #FFF
	background: $color-danger
	text-align: center



.panewslist-label--black
	background: $black

.panewslistTit
	margin: 0 0 0 50px

//newsin.php
.panewsliArea
	// border-bottom: $gray-line
	@include computer
		margin-right: 30px
	@include maxcom
		margin-right: 0px
.panewsinText,.panewsinShare
	padding: 30px 0
	border-bottom: $gray-line
	@include maxcom-1920
		padding: 60px 0



//about.php
.paaboutArea
	// border-top: $gray-line
	border-bottom: $gray-line	
	@include computer
		margin-right: 30px
	@include maxcom
		margin-right: 0px
.paaboutTextArea
	position: relative
	z-index: 2
	padding: 30px 0
	@include maxcom
		padding: 60px 0


//videoli.php
.pavideoliArea
	border-top: $gray-line
	// border-bottom: $gray-line	

.pavideolist-label
	width: auto
	float: left
.pavideolist-label--red,.pavideolist-label--black
	width: 105px
	padding: 5px 0px 12px 0px
	color: #FFF
	background: $color-danger
	text-align: center
.pavideolist-label--black
	background: $black

.pavideolist
	border-bottom: $gray-line
	padding: 30px 0
	position: relative
	z-index: 2
	display: block
	&::after
		display: block
		content: " "
		clear: both	
	@include maxcom-1920
		padding: 60px 0
	&:hover
		.panewslistTit
			color: $color-danger
	// display: flex
	// flex-wrap: nowrap
	// align-items: center


.pavideolistTit
	width: auto
	margin: 0 0 0 140px


.panewslistVideoImg
	width: auto
	margin: 0 0 0 140px

/*限制影片比例*/
.panewslistVideoBk
	width: 100%
	position: relative
	padding-bottom: 56.25%
	height: 0
	// height: auto
	iframe
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		// width: 100%
		// height: auto
	

.panewslistVideText,.panewslistVideShare
	border-bottom: $gray-line
	padding: 30px 0
	@include maxcom-1920
		padding: 60px 0