//網站框架

//手機視口header
.patSmlHeader
	width: auto
	height: 60px
	position: fixed
	top: 0
	left: 0
	z-index: 4
	@include maxcom
		display: none
	.patSmlHeader-navbt
		width: 50px
		height: 50px
		float: left
		cursor: pointer
		transition: all 0.3s linear 0.2s
		display: block
		background:  $black
		.patSmlHeader-navbt--img
			width: 30px
			height: 30px
			margin: 10px 0 0 9px
	.patSmlHeader-cartbt
		width: 50px
		height: 50px
		float: left
		cursor: pointer
		transition: all 0.3s linear 0.2s
		display: block
		background:  $color-danger
		position: relative
		.patSmlHeader-cartbt--img
			width: 30px
			height: 30px
			margin: 10px 0 0 10px
		.patSmlHeader-cartbt--count
			width: 20px
			height: 20px
			line-height: 15px
			text-align: center
			position: absolute
			right: 5px
			top: 7px
			@include typoBasic-notoSans
			font:
				size: $text-12
				weight: 500
			color: #ffffff
			display: inline-block
			border-radius: 50%
			background: $black
	.patSmlHeader-tit
		width: 150px
		@include typoNowrap
		line-height: 56px
		float: left
	.patSmlHeader-note
		position: relative
		float: right
		cursor: pointer
		margin: 16px 30px 0 0


//手機視口navgation
.patSmlNav
	width: 320px
	height: 100%
	position: fixed
	top: 0
	left: -320px
	z-index: 3
	overflow-y: auto
	background: $black
	.patSmlNav-closeBt
		width: 50px 
		height: 50px
		position: absolute
		right: 0px
		top: 0px
		cursor: pointer
		background: #FFF
		.patSmlNav-closeBt--img
			width: 30px
			height: 30px
			margin: 10px 0 0 10px
			


	// .patSmlNavUser
	// 	width: 180px 
	// 	padding: 60px 0 40px 0
	// 	text-align: center
	// 	margin: 0 auto
	// 	@include typoBasic
	// 	.patSmlNavUser-photo
	// 		position: relative
	// 		width: 110px
	// 		height: 110px
	// 		margin: 0 auto
	// 	.patSmlNavUser-note--none,.patSmlNavUser-note--waring
	// 		width: 50px
	// 		height: 50px
	// 		border-radius: 23px
	// 		@include eleEm-shadow
	// 		position: absolute
	// 		z-index: 1
	// 		right: -15px
	// 		bottom: -5px
	// 		display: block
	// 		background: #FFF url(../images/ring-phone-none.svg) no-repeat
	// 		background-position: -4px -4px
	// 	.patSmlNavUser-note--waring
	// 		background: #FFF url(../images/ring-phone-waring.svg) no-repeat
	// 		background-position: -4px -4px
	// 	.patSmlNavUser-name
	// 		font:
	// 			size: $text-18
	// 			weight: 700
	// 		line-height: 1.8
	// 		color: #fff
	// 		margin: 12px 0 20px 0
	// 		letter-spacing: 0.5px
	// 	.patSmlNavUser-Bt
	// 		display: block
	// 		width: 180px
	// 		height: 48px 
	// 		line-height: 48px
	// 		border-radius: 24px
	// 		font:
	// 			weight: 700
	// 		margin: 10px 0 0 0
	// 		@include eleEm-shadow
	// 		color: #ffffff
	// 		&--edit
	// 			border: 2px solid rgba(255,255,255,0.26)
	// 		&--signOut
	// 			border: none
	// 			background: $primary-color_500
.patSmlNavopen_bg
	width: 100%
	height: 100%
	background: rgba(9,15,49,0.9)
	display: none
	position: fixed
	top: 0
	z-index: 3		


//手機視口通知區
.patSmlNavNote
	width: 320px
	height: 100%
	position: fixed
	top: 0
	left: -320px
	z-index: 5
	overflow-y: auto
	background: #FFF
	.patSmlNavNote-closeBt
		width: 30px 
		height: 30px
		position: absolute
		right: 20px
		top: 20px
		cursor: pointer
	// .patSmlNavNote-note
	// 	width: 100%
	// 	background: #FFF
	// 	border-bottom: 1px solid #FFF
	// 	.patSmlNavNote-note--list
	// 	.patSmlNavNote-note--list--link
	// 		color: $color-info
	// 		text-decoration: underline
	// 		&:hover
	// 			color: $main-color
	// 	.patSmlNavNote-note--time
	// 		.patSmlNavNote-note--time--icon
	// 			margin-right: 10px
	// 			vertical-align: -2px
			

		

//nav 功能連結
.patNavMenu
	width: 100%
	padding-top: 60px
	.patNavMenu-list
		margin: 0 0 15px 0
		display: block
		border-bottom: $gray-line-inBlack
		@include typoNowrap
		@include typoBasic
		font:
			size: $text-17
		line-height: 35px
		letter-spacing: 1.5px
		color: #FFF
		&:hover
			opacity: 1
	.patNavMenu-list--active
		opacity: 1
	.patNavMenu-icon
		vertical-align: -4px
		width: 20px
		height: 20px
		margin: 0 15px 0 0
	.patNavMenu-secondList
		width: 100%
		padding: 0 30px 10px 96px 
		margin: 0 
		&:last-of-type
			padding: 0 30px 20px 96px 
	.patNavMenu-viceLinkArea
		background: $color-danger
		.patNavMenu-list
			border-bottom: 1px solid rgba(255,255,255,0.4)



//內頁電腦視口navgation修改樣式
.patBigNav--bg--page
	position: relative
	@include maxcom
		margin-bottom: 180px	
	.patBigNav--bg
		@include maxcom
			height: 160px
			background: none
			margin: 0 auto 0px auto
		@include maxcom-1920
			height: 180px
	.patBigNav-logoArea--ani
		@include maxcom
			margin-top: -15px
			margin-left: -15px
	.patBigNav-mainLinkArea,.patBigNav-secondLinkArea,.patBigNav-thirdLinkArea
		border-top: 7px solid $color-danger
		margin-top: -7px
	.patBigNav-Link,.patBigNav-Link--viceLink
		border-left: $gray-line
		height: 160px
		@include maxcom-1920
			height: 180px
		&:last-of-type
			border-right: $gray-line
		.patBigNav-Link--ch
			color: $black
		.patBigNav-Link--en
			color: $black
			opacity: .3



//電腦視口navgation
.patBigNav--bg
	display: none
	@include maxcom
		display: block
		height: 180px
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.7)0%, rgba(0, 0, 0, 0)95%)
		// position: absolute
		// z-index: 4
		// position: relative
		// margin: 0 auto -180px auto
		// margin-top: -180px
		position: absolute
		z-index: 2
		width: 100%
.patBigNav
	// position: relative
	// z-index: 2
	
.patBigNav-logoArea--ani
	width: 340px
	height: auto
	position: absolute
	z-index: 3
	left: -100px
	// 遮罩用法
	-webkit-mask: url(../images/logo-mask-ani.png) no-repeat 
	mask: url(../images/logo-mask-ani.png) no-repeat 
	webkit-mask-size: 9585px
	mask-size: 9585px
	animation: logoMask 1s 0s 1 steps(20 ,end) normal forwards 
	@include maxcom-1920
		width: 440px
		height: 325px
		left: 160px

	
@keyframes logoMask
	0%
		-webkit-mask-position: 0 0
		mask-position: 0 0
		opacity: 0
	100%
		-webkit-mask-position: 100% 0
		mask-position: 100% 0
		opacity: 1



.patBigNav-logoArea--logo
	width: 90px
	height: auto
	left: 65px
	top: 30px
	position: absolute
	z-index: 4
	opacity: 1
	@include maxcom-1920
		width: 129px
		left: 370px
		top: 35px
.patBigNav-mainLinkArea
	position: absolute
	// position: relative
	z-index: 4
	left: 325px
	@include maxcom-1920
		left: 730px
.patBigNav-secondLinkArea
	position: absolute
	// position: relative
	z-index: 4
	left: 712px
	@include maxcom-1920
		left: 1100px
.patBigNav-thirdLinkArea
	position: absolute
	// position: relative
	z-index: 4
	left: 917px
	@include maxcom-1920
		left: 1292px
.patBigNav-Link,.patBigNav-Link--viceLink
	display: block
	border-left: $gray-line-inBlack
	padding: 25px 25px 20px 22px 
	-webkit-writing-mode: vertical-lr
	writing-mode: vertical-lr  
	-ms-writing-mode: tb-lr
	// -ms-width: auto
	// -ms-padding: 25px 25px 20px 22px 
	// -ms-height: 170px
	float: left
	@include maxcom-1920
		padding: 40px 25px 25px 22px 
		// -ms-padding: 40px 25px 25px 22px 
	&:hover
		transform: translateY(-8px)
	&:last-of-type
		border-right: $gray-line-inBlack	
	.patBigNav-Link--ch
		-webkit-writing-mode: vertical-lr
		writing-mode: vertical-lr  
		-ms-writing-mode: tb-lr
		font:
			size: $text-19
		color: #FFF
		letter-spacing: 4px
		.patBigNav-Link--ch--icon
			margin: 0 0 5px 3px
	.patBigNav-Link--en
		-webkit-writing-mode: vertical-lr
		writing-mode: vertical-lr  
		-ms-writing-mode: tb-lr
		color: #ffffff
		opacity: .3
		margin: 26px 5px 0 0
		font:
			size: $text-14
.patBigNav-Link--viceLink
	padding: 50px 17px 20px 16px 
	@include maxcom-1920
		padding: 65px 17px 25px 16px 



	

/* 電腦視口header*/
.patBigHeader
	width: 100%


/*footer*/
.patFooter
	width: 100%
	height: auto
	overflow: hidden
	background: $black
	margin: 50px auto 0 auto
	@include maxcom
		margin: 0 auto 40px auto
		// margin-bottom: 50px
	.patFooter--text,.patFooter--link,.patFooter-tit
		@include typoBasic-notoSans
		font:
			weight: 500
		color: #FFF
		display: block
	.patFooter-tit
		display: none
		@include computer
			font:
				weight: 600
			letter-spacing: 1px
			display: block
			padding: 22px 30px
			background: $color-danger
			border-right: 1px solid rgba(255,255,255,0.2)
	.patFooter--link
		&:hover
			text-decoration: underline
	.patFooter--text--tit
		width: 100px
		display: inline-block
	.patFooter-about
		overflow: hidden
		padding: 40px 30px 0 30px
		@include computer
			width: 50%
			float: left
			padding: 0
			.patFooter-about--info
				padding: 40px 30px 0 30px
				@include computer
					padding: 80px 30px 70px 30px
					border-right: 1px solid rgba(255,255,255,0.2)
					height: 270px
	.patFooter-contact
		overflow: hidden
		@include ipad
			width: 50%
			float: left
		@include computer
			width: 30%
		.patFooter-contact--info
			padding: 40px 30px 0 30px
			@include computer
				padding: 80px 30px 70px 30px
				border-right: 1px solid rgba(255,255,255,0.2)
				height: 270px
	.patFooter-purchase
		overflow: hidden
		@include ipad
			width: 50%
			float: left
		@include computer
			width: 20%
		@include maxcom
			height: 333px
		.patFooter-purchase--info
			padding: 40px 30px 
			@include computer
				padding: 80px 30px 0 30px 
				height: 270px
	.patFooter-copyright
		border-top: 1px solid rgba(255,255,255,0.2)
		padding: 22px 30px 22px 30px
		overflow: hidden
		@include computer
			width: 100%
		.patFooter-copyright--design
			color: #FFF
			text-align: right
			float: right
			opacity: 0.6
			&:hover
				opacity: 1
.patFooter-shopcom
	// width: 100%
	// margin: 0 auto 40px auto
	padding: 20px 30px
	border: 1px solid rgba(0,0,0,0.12)
	background: $color-danger
	@include maxcom
		margin: 0 auto 40px auto
	p
		color: #FFF

	
//頁面結構框架
.patWrapper
	@include maxcom
		margin: 0 0 0 0
.patMainbody
	width: 100%
	@include computer
		width: auto
		margin-left: 320px !important
	@include maxcom
		margin-left: 320px !important

.patPrimary
	width: 100%
	padding: 15px 0
	@include ipad
		padding: 15px 15px
	@include computer
		padding: 30px 15px
	@include maxcom-1920
		padding: 30px 35px



//內頁結構框架
.patpageWrapper
	@include maxcom
		margin: 15px
		border: $gray-line
		width: calc(100% - 30px)

.patpageMainbody
	// @include computer
	// 	display: flex
	// 	flex-wrap: nowrap
	// 	align-items: stretch
//內頁左側欄位
.patpagesidebar
	margin: 0px auto
	padding: 30px 0 30px 0
	position: relative
	@include computer
		width: 30%
		float: left
		padding: 100px 0px
	@include maxcom
		width: 22em
		position: absolute
		padding: 50px 0px
	@include maxcom-1920
		width: 20%
		position: static

	

//內頁左側欄位標題區
.patpagesidebar-titArea
	display: flex
	flex-wrap: nowrap
	align-items: start
	justify-content: center

//內頁右側欄位
.patpageprimary
	padding: 20px 20px
	margin: 0 auto
	position: relative
	// z-index: 2
	@include computer
		width: 70%
		float: left
		padding: 0 0 0 0
	@include maxcom
		width: 70%
		float: right
	@include maxcom-1920
		width: 100%

.patmax_width
	width: 100%
	margin: 0 auto
	@include maxcom
		width: $viewport-maxcom
		float: left
	@include maxcom-1920
		min-height: 1100px
		// margin-right: 376px