/*文字相關設定*/
/*文字單行+nowrap*/
@mixin typoNowrap
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap


/*文字基本設定--標題有襯線宋體*/
@mixin typoBasic
	font:
		family: $text-style
		size: $text-16
		weight: 500
	color: $black
	line-height: 1.5

/*文字基本設定--內文黑體*/
@mixin typoBasic-notoSans
	font:
		family: $text-style-notoSans
		size: $text-16
		weight: 500
	color: $black
	line-height: 1.5


h1,h2,h3,h4,h5,h6
	margin: 0 0 0 0	

h1
	@include typoBasic
	font:
		size: $text-28
		weight: 700
	letter-spacing: 1px

h2
	@include typoBasic
	font:
		size: $text-24
		weight: 600
	letter-spacing: 0.5px

h3
	@include typoBasic
	line-height: 1.8
	letter-spacing: 1px
	font:
		weight: 600
		size: $text-20

h4
	@include typoBasic
	line-height: 2
	letter-spacing: 1px
	font:
		weight: 700
		size: $text-18


h6
	@include typoBasic
	font:
		weight: 500
	line-height: 1.5
	color: $text-gray
	letter-spacing: 0.5px
	.icon
		vertical-align: -2px
		display: inline !important
		width: auto !important

p
	@include typoBasic-notoSans
	// font:
	// 	weight: 400
	line-height: 1.8
	letter-spacing: 0.5px

//手機板標題
.typoH1--phone
	@include typoBasic
	font:
		size: $text-20
	letter-spacing: 0.5px
	
	
.lightSectionTit
	color: $text-gray

.typoWhiteTit
	color: #FFF

.typo-danger
	color: $color-danger

.typo-black
	color: $black !important

.typo-underline
	text-decoration: underline

.typo-textAlignCenter
	text-align: center